.unduh{
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
}
.card{
    display: "";
}
.container{
    margin-top: 10px;
}

.cl{
    background-color: aliceblue;
}

.btn-primaryy {
    color: #fff;
    background-color: #8494ac;
    border-color: #8494ac;
}
body{
    background-color: #b4cfe6;
}

label{
    margin-bottom: 4px;
}